<!-- Spam Protection Modal -->
<div class="modal fade" id="spamProtectionModal" tabindex="-1" aria-labelledby="spamProtectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="spamProtectionModalLabel">
                    <i class="bi bi-shield-check"></i> {{ _t('web.spam.title') }}
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <i class="bi bi-info-circle"></i> {{ _t('web.spam.description') }}
                </div>

                <!-- Global Settings -->
                <div class="card bg-secondary mb-3">
                    <div class="card-header text-light">
                        <h6 class="mb-0"><i class="bi bi-globe"></i> {{ _t('web.spam.global_settings') }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" id="spamProtectionEnabled" checked>
                                    <label class="form-check-label" for="spamProtectionEnabled">
                                        {{ _t('web.spam.enable') }}
                                    </label>
                                </div>
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" id="cooldownMessage" checked>
                                    <label class="form-check-label" for="cooldownMessage">
                                        {{ _t('web.spam.show_cooldown_messages') }}
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="logViolations" checked>
                                    <label class="form-check-label" for="logViolations">
                                        {{ _t('web.spam.log_violations') }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="maxCommandsPerMinute" class="form-label">{{ _t('web.spam.max_commands_per_minute') }}</label>
                                    <input type="number" class="form-control" id="maxCommandsPerMinute" value="20" min="1" max="100">
                                    <div class="form-text">{{ _t('web.spam.per_user_limit') }}</div>
                                </div>
                                <div class="mb-3">
                                    <label for="maxButtonsPerMinute" class="form-label">{{ _t('web.spam.max_buttons_per_minute') }}</label>
                                    <input type="number" class="form-control" id="maxButtonsPerMinute" value="30" min="1" max="100">
                                    <div class="form-text">{{ _t('web.spam.per_user_limit') }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Command Cooldowns -->
                <div class="card bg-secondary mb-3">
                    <div class="card-header text-light">
                        <h6 class="mb-0"><i class="bi bi-slash-circle"></i> {{ _t('web.spam.command_cooldowns') }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="cooldown_control" class="form-label">/control</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="cooldown_control" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="cooldown_serverstatus" class="form-label">/serverstatus & /ss</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="cooldown_serverstatus" value="30" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="cooldown_info" class="form-label">/info</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="cooldown_info" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="cooldown_help" class="form-label">/help</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="cooldown_help" value="3" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="cooldown_ping" class="form-label">/ping</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="cooldown_ping" value="3" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="cooldown_donate" class="form-label">/donate</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="cooldown_donate" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="cooldown_language" class="form-label">/language</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="cooldown_language" value="30" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="cooldown_forceupdate" class="form-label">/forceupdate</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="cooldown_forceupdate" value="60" min="0" max="300">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Cooldowns -->
                <div class="card bg-secondary">
                    <div class="card-header text-light">
                        <h6 class="mb-0"><i class="bi bi-hand-index"></i> {{ _t('web.spam.button_cooldowns') }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_start" class="form-label">{{ _t('web.spam.button_start') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_start" value="10" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_stop" class="form-label">{{ _t('web.spam.button_stop') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_stop" value="10" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_restart" class="form-label">{{ _t('web.spam.button_restart') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_restart" value="20" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_info" class="form-label">{{ _t('web.spam.button_info') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_info" value="3" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_logs" class="form-label">{{ _t('web.spam.button_logs') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_logs" value="10" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_live_refresh" class="form-label">{{ _t('web.spam.button_live_refresh') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_live_refresh" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_refresh" class="form-label">{{ _t('web.spam.button_refresh') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_refresh" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_mech_expand" class="form-label">{{ _t('web.spam.button_mech_expand') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_mech_expand" value="3" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_mech_collapse" class="form-label">{{ _t('web.spam.button_mech_collapse') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_mech_collapse" value="2" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_mech_donate" class="form-label">{{ _t('web.spam.button_mech_donate') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_mech_donate" value="10" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_mech_history" class="form-label">{{ _t('web.spam.button_mech_history') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_mech_history" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_mech_details" class="form-label">{{ _t('web.spam.button_mech_details') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_mech_details" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_mech_display" class="form-label">{{ _t('web.spam.button_mech_display') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_mech_display" value="3" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_mech_story" class="form-label">{{ _t('web.spam.button_mech_story') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_mech_story" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_mech_music" class="form-label">{{ _t('web.spam.button_mech_music') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_mech_music" value="8" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_admin" class="form-label">{{ _t('web.spam.button_admin') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_admin" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_help" class="form-label">{{ _t('web.spam.button_help') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_help" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_tasks" class="form-label">{{ _t('web.spam.button_tasks') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_tasks" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_task_delete" class="form-label">{{ _t('web.spam.button_task_delete') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_task_delete" value="5" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_edit_info" class="form-label">{{ _t('web.spam.button_edit_info') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_edit_info" value="3" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_protected_info" class="form-label">{{ _t('web.spam.button_protected_info') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_protected_info" value="3" min="0" max="300">
                            </div>
                            <div class="col-md-4 mb-2 d-flex flex-column">
                                <label for="button_protected_info_edit" class="form-label">{{ _t('web.spam.button_protected_info_edit') }}</label>
                                <input type="number" class="form-control form-control-sm mt-auto" id="button_protected_info_edit" value="3" min="0" max="300">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _t('web.common.cancel') }}</button>
                <button type="button" class="btn btn-success" id="saveSpamProtection">
                    <i class="bi bi-save"></i> {{ _t('web.common.save_settings') }}
                </button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/spam_protection_modal.js') }}"></script>
